
@font-face {
    font-family:Qanelas;
    src: url("../fonts/ARQ-MANDO-QANELAS/QanelasSoft-Regular.otf") format("opentype");
}

body{
    font-family:Qanelas !important;
}

.react-selectize.material {
    font-family:Qanelas !important;
}

div{
    font-family:Qanelas !important;
}

.header-inner-custom {
	    padding-top: 25px !important;
}

.logo-holder-custom {
    height: 90px !important;
}

.header-custom {
    height: 90px !important;
}

@media only screen and (max-width: 1060px){
	.nav-holder-custom {
	    top: 90px !important;
	    padding: 10px 0 !important;
	}

	nav li a.act-link {
	 color: #ed2a31 !important;+
	 font-weight: bold;
	}
}

nav li a{
    padding: 15px 18.5px !important;
    font-size: 12px !important;
    color: #2a2627;
}

nav li a:hover{
    color:  #ed2a31;
}

nav li a.act-link {
	 color:#ffffff
}
 
nav li a.act-link:before {
	 background-color: #ed2a31 !important;
	 color:#ffffff
}
 
.fixed-title:after {
	background: #ed2a31 !important;
}

 .footer-social ul li a i:hover{
	    color: #ed2a31 !important;
}

.footer-social li a {;
    color: #2a2627;
}

#contact-form input[type="submit"]:hover , .controls button {
    background: #ed2a31;
}

::-webkit-input-placeholder {
   color: #ffffff !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffffff !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff !important;  
} 

:-ms-input-placeholder {  
   color: #ffffff !important;  
}

.custom-inner.contact-inner{
    padding: 30px 0 70px 0;
}

.column-filter {
    top: 100px;
}

@media only screen and (max-width: 756px){
  .column-filter {
      top: 100px;
      left: 14px;
  }
  .logo-holder-custom {
    height: 70px !important;
  }
  .header-inner-custom {
        padding-top: 10px !important;
  }
}

svg {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}
 
.rect {
  fill: none;
  stroke-width: 5px;
  stroke: black;
  stroke-dasharray: 40;
  stroke-dashoffset: 50%;
 
  animation: movedash 1.5s forwards 0s infinite;
}

@keyframes movedash {
  to {
    stroke-dashoffset: 250%;
  }
}

.port-subtitle span a {
  color:#404040 !important;
}

.custom-slider-holder a.next-slide, .custom-slider-holder a.prev-slide {
      background: rgba(0, 0, 0, 0.5) !important
  }